$color-base-background: #E5E5E5;
$color-base-text: #383736;
$color-gray-text: #989691;

$color-modal-background: #E5E5E5;

$color-danger-background: #FAF0F0;
$color-success-background: #F2FAF0;
$color-danger-text: #EB4B51;
$color-success-text: #64B851;

$color-btn-background: #FAC62D;
$color-btn-background-focused: #F0B505;
$color-btn-background-active: #E1AB08;
$color-btn-text: inherit;

// $border-radius-small: 4px;
// $border-radius-medium: 8px;
// $border-radius-large: 4px;